.footer {
  background-color: #FAF3EA;
  padding: 2rem;
  font-family: 'Arial', sans-serif;
  border-radius: 40px 40px 0px 0px;
  margin: 0px 70px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 2rem;
}

.footer-left, .footer-middle, .footer-right {
  flex: 1;
  min-width: 250px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #6a4028;
  margin-bottom: 1rem;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #2f2f2f;
  font-weight: 500;
}

.contact-button {
  background-color: #835035;
  color: #FAF3EA;
  border: none;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  font-weight: bold;
  cursor: default;
}

.footer-middle p {
  margin: 0.3rem 0;
  line-height: 1.4;
}

.footer-right .newsletter {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-right input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.footer-right button {
  padding: 0.5rem;
  background-color: #543219;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.footer-bottom {
  border-top: 1px solid #ccc;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0.9rem;
}

.footer-bottom a {
  text-decoration: none;
  color: #2f2f2f;
  margin-left: 1rem;
}


.socials-icons a {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  color: #1B1B1B;
}

@media (max-width: 1024px) {
  .footer {
    margin: 0px 40px;
    padding: 2rem 1rem;
  }

  .footer-content {
    gap: 1.5rem;
  }
}

@media (max-width: 768px) {
  .footer {
    margin: 0px 20px;
    padding: 1.5rem 1rem;
    border-radius: 30px 30px 0 0;
  }

  .footer-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-left, .footer-middle, .footer-right {
    width: 100%;
  }

  .nav-links {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .footer-bottom a {
    margin-left: 0;
  }

  .social-icons {
    margin-top: 0.5rem;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 20px;
  }

  .contact-button {
    width: 100%;
    text-align: center;
  }

  .footer-right .newsletter {
    width: 100%;
  }

  .footer-right input, 
  .footer-right button {
    font-size: 1rem;
  }
}

.error-message {
  color:crimson;
  margin-top: 8px;
  font-size: 0.9rem;
}
